<nav *ngIf="mostrarMenu" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">Router Studies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLinkActive="active" routerLink="/cursos" class="nav-link" [queryParams]="{pagina:1}">Cursos</a>
        <!--<a routerLinkActive="active" [routerLink]="['curso', idCurso.value]" class="nav-link">Curso com Id</a>-->
        <a routerLinkActive="active" routerLink="/alunos" class="nav-link">Alunos</a>
        <a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a>
      </div>
    </div>
  </div>
</nav>

<br>

<div class="container">
  <!--<p>Entre com o id do curso:</p>
  <input #idCurso (input)=0> <!--(input)=0 foi utilizado pois sem ele, a id só era adicionado no final da URL depois de dois clicks na aba do curso-->

  <router-outlet></router-outlet>
</div>
