<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos
</div>

<div *ngIf="cursos.length == 0" >
  Não existem cursos para serem listados.
</div>

<br>

<div *ngIf="mostrarCursos">
  Lista de cursos
</div>

<div *ngIf="!mostrarCursos" >
  Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br>
<br>

<h5>Hidden como alternativa</h5>

<!--Quando a propriedade for falsa, o conteúdo será mostrado. E quando a propriedade for verdadeira, os itens ficarão escondidos.-->

<div [hidden]="!mostrarCursos">
  Lista de cursos
</div>

<div [hidden]="mostrarCursos" >
  Não existem cursos para serem listados.
</div>
