<h4>Exemplos de Pipes</h4>

<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number: '1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data lançamento: {{ livro.dataLancamento | date: 'dd/MM/yyyy' }}</p>
<p>Url: {{ livro.url }}</p>

<br>

<p>Livro: {{ livro | json }}</p>

<hr>

<input type="text" [(ngModel)]="filtro">

<br>

<input type="text" #novoValor>
<button (click)="onAddCurso(novoValor.value)">Add Curso</button>

<h4>Pipe Puro</h4>

<ul>
  <li *ngFor="let curso of cursos | filtroArray:filtro">
    {{ curso }}
  </li>
</ul>

<h4>Pipe Impuro</h4>

<ul>
  <li *ngFor="let curso of cursos | filtroArrayImpuro:filtro">
    {{ curso }}
  </li>
</ul>

<h4>Maneira correta de usar filtro nos projetos</h4>

<ul>
  <li *ngFor="let curso of obterCursos()">
    {{ curso }}
  </li>
</ul>

<hr>

<p>{{ valorAsync | async }}</p>
