<div class="card mt-3">
  <div class="card border-0">
    <div class="card-header p-3 d-flex">
      <div class="w-75">
        <input type="text" class="form-control" [formControl]="queryField" id="searchField" placeholder="Pesquisar libs">
      </div>
      <div class="w-25 d-flex justify-content-center">
        <button class="btn btn-success" (click)="onSearch()">Pesquisar</button>
      </div>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="card bg-light rounded-0 border-0">
      <h5 class="card-title p-3 fs-3">303 Records Found</h5>
    </div>
    <div class="card-text">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HTML</td>
            <td>Web Development</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
