<div class="col-lg-6">
  <div class="mt-3">
  <!--   <label for="formFile" class="form-label">Selecione um arquivo</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <br>
  <div class="mb-3"> -->
    <label for="formFileMultiple" class="form-label">Selecione mais de um arquivo</label>
    <input class="form-control" type="file" id="formFileMultiple" (change)="onChange($event)" multiple>
  </div>

  <div class="progress mt-2">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
  </div>

  <div class="mt-3">
    <button type="button" class="btn btn-primary me-2" (click)="onUpload()" [disabled]="!files">Upload</button>
    <button type="button" class="btn btn-primary me-2" (click)="onDownloadExcel()">Download Excel</button>
    <button type="button" class="btn btn-primary" (click)="onDownloadPdf()">Download PDF</button>
  </div>
</div>
