<form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="col-12">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('nome')" formControlName="nome" id="nome" placeholder="Nome">

    <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>

  </div>

  <div class="col-12">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" [class.is-invalid]="invalidTouchedField('email')" [class.is-valid]="formulario.get('email')?.valid" formControlName="email" id="email" placeholder="nome@email.com">

    <app-error-msg [control]="formulario.get('email')" label="E-mail"></app-error-msg>

    <app-error-msg [control]="formulario.get('email')?.hasError('emailInvalido')" label="E-mail"></app-error-msg>

    <div *ngIf="formulario.get('email')?.status === 'PENDING'" class="alert alert-primary" role="alert">
      Validando e-mail...
    </div>
    <div *ngIf="formulario.get('email')?.status === 'VALID'" class="valid-feedback" class="alert alert-success" role="alert">
      E-mail válido.
    </div>
  </div>

  <div class="col-12">
    <label for="confirmarEmail" class="form-label">Confirmar E-mail</label>
    <input type="confirmarEmail" class="form-control" [class.is-invalid]="formulario.get('confirmarEmail')?.hasError('equalsTo')" formControlName="confirmarEmail" id="confirmarEmail" placeholder="nome@email.com">

    <app-error-msg [control]="formulario.get('confirmarEmail')" label="E-mail"></app-error-msg>

  </div>

  <div class="row g-3" formGroupName="endereco">

    <div class="col-md-3">
      <label for="cep" class="form-label">CEP</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.cep')" formControlName="cep" id="cep" placeholder="CEP" (blur)="consultaCEP()">

      <app-error-msg [control]="formulario.get('endereco.cep')" label="CEP"></app-error-msg>
      
    </div>

    <div class="col-md-3">
      <label for="numero" class="form-label">Número</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.numero')" formControlName="numero" id="numero" placeholder="Número">

      <app-error-msg [control]="formulario.get('endereco.numero')" label="Número"></app-error-msg>

    </div>

    <div class="col-md-6">
      <label for="complemento" class="form-label">Complemento</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.complemento')" formControlName="complemento" id="complemento" placeholder="Complemento">
    </div>

    <div class="col-12">
      <label for="rua" class="form-label">Rua</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.rua')" formControlName="rua" id="rua" placeholder="Rua">

      <app-error-msg [control]="formulario.get('endereco.rua')" label="Rua"></app-error-msg>

    </div>

    <div class="col-md-5">
      <label for="bairro" class="form-label">Bairro</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.bairro')" formControlName="bairro" id="bairro" placeholder="Bairro">

      <app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro"></app-error-msg>

    </div>

    <div class="col-md-4">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.cidade')" formControlName="cidade" id="cidade" placeholder="Cidade">

      <app-error-msg [control]="formulario.get('endereco.cidade')" label="Cidade"></app-error-msg>

    </div>

    <div class="col-md-3">
      <label for="estado" class="form-label">Estado</label>
      <select class="form-select" [class.is-invalid]="invalidTouchedField('endereco.estado')" formControlName="estado" id="estado">
        <option value=null selected>Estado</option>
        <option *ngFor="let estado of estados | async" [value]="estado.sigla">
          {{ estado.nome }}
        </option>
      </select>

      <app-error-msg [control]="formulario.get('endereco.estado')" label="Estado"></app-error-msg>

    </div>

  </div>

  <div class="form-group">
    <div class="row g-3">

      <div class="col-md-5">
        <label for="cargo" class="form-label">Cargo</label>
        <select class="form-select" formControlName="cargo" [class.is-invalid]="invalidTouchedField('cargo')" id="cargo" [compareWith]="compararCargos">
          <option value=null selected>Cargo</option>
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">
            {{ cargo.descricao }}
          </option>
        </select>

        <app-error-msg [control]="formulario.get('cargo')" label="Cargo"></app-error-msg>

      </div>

      <div class="col-md-4">
        <label for="tecnologias" class="form-label">Tecnologias</label>
        <select multiple class="form-select" formControlName="tecnologias" id="tecnologias">
          <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">
            {{ tecnologia.descricao }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <div>
          <label for="newsletter" class="form-label">Newsletter</label>
        </div>
        <div class="form-check form-check-inline">
          <div *ngFor="let newsletter of newsletters">
            <input class="form-check-input" type="radio" formControlName="newsletter" id="newsletter" [value]="newsletter.valor">
            <label class="form-check-label">
              {{ newsletter.nome }}
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="frameworks" class="row">
    <div class="col-md-3">
      <div>
        <label for="frameworks" class="form-label">Frameworks</label>
      </div>
      <div class="form-check form-check-inline" formArrayName="frameworks" *ngFor="let framework of getFrameworksConstrols(); index as i">
        <input class="form-check-input" type="checkbox" id="frameworks" [formControlName]="i" [class.is-invalid]="invalidTouchedField('frameworks')">
        <label class="form-check-label">{{ frameworks[i] }}</label>
      </div>
      
      <app-error-msg [control]="formulario.get('frameworks')" label="Frameworks"></app-error-msg>

    </div>
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [class.is-invalid]="invalidTouchedField('aceitarTermos')" formControlName="aceitarTermos" id="aceitarTermos" >
      <label class="form-check-label">Aceito os termos de uso.</label>
    </div>
    
    <div *ngIf="invalidTouchedField('aceitarTermos')" class="alert alert-danger" role="alert">
      Por favor, aceite os termos de uso para continuar.
    </div>

  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary me-2">
      Submit
    </button>
    <button class="btn btn-light me-2" (click)="resetar()">
      Cancelar
    </button>
    <button class="btn btn-outline-primary me-2" (click)="setarCargo()">
      Cargo
    </button>
    <button class="btn btn-outline-primary" (click)="setarTecnologias()">
      Tecnologias
    </button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>

</form>


