<form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="col-12">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('nome')" formControlName="nome" id="nome" placeholder="Nome">
    <div *ngIf="invalidTouchedField('nome')" class="alert alert-danger" role="alert">
      Nome é obrigatório.
    </div>
  </div>

  <div class="col-12">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" [class.is-invalid]="invalidTouchedField('email')" formControlName="email" id="email" placeholder="nome@email.com">
    <div *ngIf="invalidTouchedField('email')" class="alert alert-danger" role="alert">
      E-mail é obrigatório.
    </div>
  </div>

  <div class="row g-3" formGroupName="endereco">

    <div class="col-md-3">
      <label for="cep" class="form-label">CEP</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.cep')" formControlName="cep" id="cep" placeholder="CEP" (blur)="consultaCEP()">
      <div *ngIf="invalidTouchedField('endereco.cep')" class="alert alert-danger" role="alert">
        CEP é obrigatório.
      </div>
    </div>

    <div class="col-md-3">
      <label for="numero" class="form-label">Número</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.numero')" formControlName="numero" id="numero" placeholder="Número">
      <div *ngIf="invalidTouchedField('endereco.numero')" class="alert alert-danger" role="alert">
        Número é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="complemento" class="form-label">Complemento</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.complemento')" formControlName="complemento" id="complemento" placeholder="Complemento">
    </div>

    <div class="col-12">
      <label for="rua" class="form-label">Rua</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.rua')" formControlName="rua" id="rua" placeholder="Rua">
      <div *ngIf="invalidTouchedField('endereco.rua')" class="alert alert-danger" role="alert">
        Rua é obrigatória.
      </div>
    </div>

    <div class="col-md-5">
      <label for="bairro" class="form-label">Bairro</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.bairro')" formControlName="bairro" id="bairro" placeholder="Bairro">
      <div *ngIf="invalidTouchedField('endereco.bairro')" class="alert alert-danger" role="alert">
        Bairro é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidTouchedField('endereco.cidade')" formControlName="cidade" id="cidade" placeholder="Cidade">
      <div *ngIf="invalidTouchedField('endereco.cidade')" class="alert alert-danger" role="alert">
        Cidade é obrigatória.
      </div>
    </div>

    <div class="col-md-3">
      <label for="estado" class="form-label">Estado</label>
      <select class="form-select" [class.is-invalid]="invalidTouchedField('endereco.estado')" formControlName="estado" id="estado">
        <option value=null selected>Estado</option>
        <option *ngFor="let estado of estados" [value]="estado.sigla">
          {{ estado.nome }}
        </option>
      </select>
      <div *ngIf="invalidTouchedField('endereco.estado')" class="alert alert-danger" role="alert">
        Estado é obrigatório.
      </div>
    </div>

  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <button class="btn" (click)="resetar()">
      Cancelar
    </button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>

</form>


