<div class="container">

  <h4 class="mt-4 mb-3">RxJS POC - Unsubscribe</h4>

  <form>
    <div class="d-flex align-items-start">
        <input type="text" class="form-control w-25 me-2" #valor placeholder="Valor">
        <button type="button" class="btn btn-outline-primary me-2" (click)="emitirValor(valor.value)">Emitir Valor</button>
        <button type="button" class="btn btn-outline-danger" (click)="destruirComponentes()">Mostrar/Destruir Valor</button>
    </div>
  </form>

  <div *ngIf="mostrarComponentes">
    <div class="row">
      <app-poc class="col-4"></app-poc>
      <app-poc-unsub class="col-4"></app-poc-unsub>
      <app-poc-async class="col-4"></app-poc-async>
      <app-poc-take-until class="col-4"></app-poc-take-until>
      <app-poc-take class="col-4"></app-poc-take>
    </div>
  </div>

</div>
