<section class="property-binding">

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}!</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}.</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}.</p>
  </article>

  <article>
    <h3>Propery Binding</h3>
    <img src="{{ urlImagem }}">  <!--chamando imagem por interpolação -->
    <img [src]="urlImagem"> <!--chamando imagem por property binding-->
  </article>

  <!--Style Binding-->
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>

      <br>
      <br>


      <alert type="success"
       [style.display]="classe.value == 'alert-success' ? 'block' : 'none'">
        <strong>Well done!</strong> You successfully read this important alert message.
      </alert>
      <alert type="info"
        [style.display]="classe.value == 'alert-info' ? 'block' : 'none'">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </alert>
      <alert type="warning"
        [style.display]="classe.value == 'alert-warning' ? 'block' : 'none'">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </alert>
      <alert type="danger"
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </alert>

    </div>
  </article>

</section>

<section class="event-biding">

  <article>

    <h3>Event Binding</h3>

    <div>

      <button (click)="botaoClicado()"
      class="btn btn-primary">Me clique!</button>

      <br>
      <br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor($any($event.target).value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      >

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
        Passe o mouse sobre mim
      </span>

    </div>

  </article>

</section>

<app-meu-form></app-meu-form>

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>

    <app-curso></app-curso>
    
  </article>
</section>
